[submodule "themes/hugo-theme-next"]
	path = themes/hugo-theme-next
	url = https://github.com/elkan1788/hugo-theme-next.git
[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even.git
